/* Pseudoelementos
Se utilizan para dar estilos a partes especificas

Ejemplos:
::first-letter - elementos bloques
::first-line - elemento bloque
::before
::after
::selection
*/

.titulo::first-letter {
    color: red;
    font-size: 50px;
}
.linea::first-letter {
    color: red;
    font-size: 50px;
}
.linea{
    display: block;
}
.texto::first-line{
    color: green;
}
.texto::selection{
    background: red;
    color: white;
}
/* ::before  ::after 
La propiedad de content es obligatorio
*/

.dinero::before{
    content: '$';
    color: red
}
.dinero::after{
    content: '.00';
    color: red
}
.ejemplo::before, .ejemplo::after{
    content: '';
    width: 10px;
    height: 10px;
    background: black;
    display: inline-block;
}

/*Pseudoclases
    :link - link no visitado
    :visited - link visitado
    :activo - link al momento del click
*/
.enlace:link{
    color: green;
}
.enlace:visited{
    color: white;
}
.enlace:active{
    transform: scale(.8);
}
.enlace{
    display: inline-block;
    padding: 5px;
    background: red;
    border-radius: 5px;
    color: white;
    text-decoration: none;
}
.enlace:hover{
    background: black;
}
input:focus{
    background: yellow;
    color: red;
}

.input, .label{
    display: block;
}
.input:enabled{
    background: blue;
}
.input:disabled{
    background: red;
}
.input:required{
    background: yellow;
}
.input:checked + label{
    font-size: 30px;
}

.input:in-range{
    background: green;
}

.input:out-of-range{
    background: red;
}
/* Child -
    :first-child
    :last-child

    :nth-child(n)
    :nth-last-child(n)
    :only-child
*/

.parrafo:first-child{
    background: lightcoral;
}
.parrafo:nth-child(3){
    background: red;
}
.parrafo:nth-child(odd){
    background: blue;
}
.parrafo:nth-child(even){
    background: green;
}
